body{
    margin: 0;
    padding: 0;
    font-family: "Audiowide", sans-serif;
    background-color: rgb(43, 41, 41);
    color: white;
    font-size: 19px;
}

header, footer{
    background-color: black;
    padding: 16px;
    background-image: url('/actividadFormularios/img/jesus_adrian.jpg');
    background-repeat: repeat-x;
    background-position: right;
    background-size: contain;
    margin: 30px;
}
ul{
    list-style-type: none;
}
a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(2, 1, 1);
    
}

input{
    padding: 10px;
    border-radius: 20px;
}
textarea{
    border-radius: 20px;
    padding: 30px;
}
.container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.card{
    margin:10px;
    background-color: rgb(78, 71, 71);
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
    border-radius: 30px;
}

#name,#email, #phoneHome {
    background-color: rgb(73, 70, 66);
    color: white;
}
#apellido,#password{
    background-color: black;
    color: white;
}


.fondoAzul{
    background-color: rgb(5, 5, 70);
}
h1,h2,a{
    color: rgb(233, 235, 235);
    font-weight:900;
    background-color: black;
    text-align: center;
}
#seleccion{
    background-color:black ;
}
#boton {
    background-color: rgb(11, 6, 41);
    color: white;
    padding: 20px;
    font-size: 20px;
    margin: 20px;
    font-family: "Audiowide", sans-serif;
}
#genero_fav{
    padding: 13px 10px;
    background-color: black;
    color: grey;
    font-family: "Audiowide", sans-serif;
}
#name, #apellido, #email, #password, #phoneHome{
    font-family: "Audiowide", sans-serif;
}
#quantity{
    padding:10px;
    background-color: grey;
    font-family: "Audiowide", sans-serif;   
}
img{
    border-radius: 30px;
}
.ubicacion{
    display:flex;
    justify-content: center;
}
#artista_libre{
    padding: 10px;
    width: 130px;
    height: 40px;
    margin-top: 20px;
}
.contSubTitulo, .contText, .contTitulo, form{
    margin: 5vh;
    text-align: justify;
    border-style: solid dashed dotted double;
    border-color: rgb(78, 75, 75) rgba(219, 206, 206, 0.315) rgb(209, 198, 198) rgb(104, 99, 91);
    border-radius: 13px;
    border-width: 4px 2px 5px 3px;
    background-color: rgba(231, 238, 231, 0.288);
    padding: 13px;
}