body{
    margin: 0;
    padding: 0;
    font-family: "Audiowide", sans-serif;
    background-color: rgb(43, 41, 41);
    color: white;
    font-size: 19px;
}
form{

    align-items: center;
    justify-content: center;
    height: 25%;
    width: 50%;
    border: 3px rgb(92, 82, 82) solid;
    border-radius: 10px;
    margin:30px;
    padding: 40px;
}
header, footer{
    background-color: black;
    padding: 16px;
    background-image: url('/clase4-Formularios/actividadFormularios/img/jesus_adrian.jpg');
    background-repeat: repeat-x;
    background-position: right;
    background-size: contain;
    margin: 30px;
}
ul{
    list-style-type: none;
}
a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(2, 1, 1);
    
}

input{
    padding: 10px;
    border-radius: 20px;
}
textarea{
    border-radius: 20px;
    padding: 30px;
}
.container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.card{
    margin:10px;
    background-color: rgb(78, 71, 71);
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
    border-radius: 30px;
}

#name,#email, #phoneHome {
    background-color: rgb(73, 70, 66);
    color: white;
}
#apellido,#password{
    background-color: black;
    color: white;
}

.contText{
    text-align: justify;
    margin: 20px;
}
.fondoAzul{
    background-color: rgb(5, 5, 70);
}
h1,h2,a{
    color: rgb(233, 235, 235);
    font-weight:900;
    background-color: black;
    text-align: center;
}
#seleccion{
    background-color:black ;
}
#boton {
    background-color: rgb(11, 6, 41);
    color: white;
    padding: 20px;
    font-size: 20px;
    margin: 20px;
    font-family: "Audiowide", sans-serif;
}
#genero_fav{
    padding: 13px 10px;
    background-color: black;
    color: grey;
    font-family: "Audiowide", sans-serif;
}
#name, #apellido, #email, #password, #phoneHome{
    font-family: "Audiowide", sans-serif;
}
#quantity{
    padding:10px;
    background-color: grey;
    font-family: "Audiowide", sans-serif;   
}
img{
    border-radius: 30px;
}
.ubicacion{
    display:flex;
    justify-content: center;
}